
/*Balise*/
button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position:relative;
}

h1{
    display:flex;
    margin-bottom: 100px;
    justify-content: center;
}

/*ID*/

#screen{
    border: 10px solid green;
    margin-left: 400px;
    position: flex;
    display: inline-block;
    height: 20em;
    max-width: 100px;
}

#screen-archive{
    border: 10px solid rgb(255, 153, 0);
    margin-left: 400px;
    position: absolute;
    display:flex;
    height: auto;
    width: auto;
    /*transition: opacity 0.9s ease-in-out;*/
}

#screen-text{
    border: 1px solid rgb(85, 255, 0);
    /*transition: opacity 0.9s ease-in-out;*/
}
/*Classe*/
.container{
    border: 10px solid red;
    padding: 1px 1px 1px 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 60em;
}

.container-button{
    border: 10px solid black;
    height: auto;
    width: auto;
}

/*.invisible{
    opacity: 0;
}*/