
/*Balise*/
button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position:relative;
}

h1{
    display:flex;
    margin-bottom: 100px;
    justify-content: center;
}

/*ID*/

#screen{
    border: 10px solid green;
    margin-left: 400px;
    position: absolute;
    display: inline-block;
    height: 20em;
    width: 30em;
    max-width: 90000em;
    left: 300px;
}

#screen-archive{
    border: 10px solid rgb(255, 153, 0);
    position: absolute;
    top:350px;
    left:-700px;
    display:flex;
    height: auto;
    width: auto;
    /*transition: opacity 0.9s ease-in-out;*/
}

#screen-text{
    border: 1px solid rgb(85, 255, 0);
    /*transition: opacity 0.9s ease-in-out;*/
}

.container .container-connected div{
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Classe*/
.container{
    border: 10px solid red;
    padding: 1px 1px 1px 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 40em;
}

.container-button{
    border: 10px solid black;
    height: auto;
    width: auto;
}

.container-connected{
    border: 10px solid rgb(255, 72, 72);
    position:absolute;
    top: 3px;
    height: auto;
    width: auto;
}

/*.invisible{
    opacity: 0;
}*/